@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root{
    --background-color: rgb(21,32,43);
    --primary-color: rgb(29,155,240);
    --dark-color: rgb(25,39,52);
    --grey-text: rgb(149, 154, 158);
}

*{
    margin: 0;
    padding: 0;
    /* background-color: var(--background-color); */
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--background-color);
}

.homePage{
    display: flex;
    /* height: 100vh; */
}

.sideNav{
    background-color: var(--background-color);
    box-sizing: border-box;
    /* background-color: green; */
    flex-basis: 23.5%;
    padding: 0.5rem 0 1rem 4.3rem;
    border-right: 1px solid rgb(77, 76, 76);
    height: 100%;
    top: 0;
    position: sticky;
}

.brand{
    font-size: 1.7rem;
}

.menuList{
    margin: 0.8rem 0;
}

.menuList i{
    font-weight: 100;
}

.items{
    position: relative;
    left: -1.4rem;
    list-style: none;
    padding: 0.8rem 1.4rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    cursor: pointer;
}

.items:hover{
    background-color: rgb(35, 53, 70);
    border-radius: 2rem;
    width: fit-content;
}

.active{
    font-weight: bold;
}

.menu-icon{
    margin-right: 1.2rem;
    font-size: 1.5rem;
    /* font-weight: 100; */
}

.btn{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    font-weight: 500;
    padding: 0.7rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn-tweet{
    position: relative;
    left: -15px;
    width: 90%;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.9rem;
}

.user-profile{
    display: flex;
    margin-top: 2.6rem;
    /* line-height: 0.9rem; */
}

.compose1, .compose2{
    display: flex;
}

.compose1 img{
    height: 45px;
}

.profilePic{
    height: 40px;
    border-radius: 50%;
    /* margin-top: 20px; */
}

.user-details{
    font-size: 0.95rem;
    padding: 0 0.7rem;
}

.user-details p{
    color: var(--grey-text);
}

.profile-icon i{
    margin-top: 5px;
    font-weight: 100;
    font-size: 1.5rem;
}

.main{
    /* position: fixed; */
    box-sizing: border-box;
    flex-basis: 44%;
    border-right: 1px solid rgb(77, 76, 76);
    background-color: var(--background-color); 
    /* overflow-x: scroll; */
}

.nav-bar{
    display: flex;
    background-color: rgba(25, 39, 52, 0.246);
    justify-content: space-between;
    padding: 0.8rem 1rem;
    /* position: fixed;
    z-index: 20; */
    /* position: fixed; */
}

.nav-bar i{
    font-size: 1.3rem;
    font-weight: 100;
}

.compose-tweet{
    /* display: flex; */
    padding: 0.7rem 1rem;
    /* justify-content: space-between; */
}

.icon-options i{
    font-weight: 100;
    color: var(--primary-color);
}

.icon-options{
    margin-left: 4rem;
}

.write{
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-weight: 500;
    background: none;
    border: none;
    outline: none;
    resize: none;
}

.write::placeholder {
    font-size: 1.2rem;
}

::placeholder {
    color: var(--grey-text);
}

.tweet-icons{
    margin-right: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.input-btn{
    position: relative;
    right: -11rem;
    height: 40px;
    font-size: 1rem;
    width: 90px;
    margin-top: 20px;
}

.single-tweet{
    /* height: 300px; */
    border-top: 1px solid rgb(77, 76, 76);
    padding: 0.3rem 1rem;
}

.single-tweet:hover{
    background-color: var(--dark-color);
}

.single-tweet i{
    color: var(--grey-text);
}

.retweeter{
    font-weight: 600;
    margin-left: 1.4rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.retweeter span{
    margin-left: 1rem;
}

.udpoader-details{
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1rem;
}

.nameTime{
    font-size: 0.9rem;
}

.singleTweetDots{
    margin-top: -5px;
    margin-left: 11rem;
}

.greyText{
    color: var(--grey-text);
}

.uploader{
    display: flex;
}

.tweetContent{
    margin-left: 3.4rem;
    font-size: 0.95rem;
    margin-top: -0.8rem;
}

.hashtag{
    color: var(--primary-color);
    cursor: pointer;
}

.tweetImg{
    width: 500px;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.singleTweetIcons{
    font-size: 0.95rem;
    /* margin-top: 0.8rem; */
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 3.5rem;
}

.singleTweetIcon{
    text-decoration: none;
    color: var(--grey-text);
}

.singleTweetIcon i{
    font-weight: 100;
}

.marginRight{
    margin-right: 0.5rem;
}

.know-more{
    box-sizing: border-box;
    background-color: var(--background-color);
    /* background-color: tomato; */
    flex-basis: 32.5%;
    padding: 0.3rem 3.2rem 0.5rem 2.4rem;
    height: 500%;
    top: 0;
    position: sticky;
}

.search{
    background-color: rgb(33, 50, 66);
    padding: 0.3rem 1rem;
    border-radius: 2rem;
}

.search i{
    font-weight: 100;
    margin-left: 0.5rem;
}

::placeholder {
    color: var(--grey-text);
    font-size: 0.9rem;
  }

.search-input{
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    background: none;
}

.whatsHappening{
    background-color: var(--dark-color);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
}

.happening{
    margin: 1.3rem auto;
    display: flex;
    justify-content: space-between;
}

.happening:hover{
    background-color: rgb(35, 53, 70);
}

.subText{
    font-size: 0.8rem;
    max-width: 400px;
}

.mainText{
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0.3rem 0;
    max-width: 200px;
}

.sideImg{
    border-radius: 1rem;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.showMore{
    font-size: 0.9rem;
    margin-top: 1rem;
}

.followDiv{
    margin-top: 1.5rem;
    /* justify-content: space-between; */
}

.promoted{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.btn-follow{
    background-color: white;
    color: var(--background-color);
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0rem 1.2rem;
    height: 33px;
    outline: none;
    border: none;
    border-radius: 1rem;
    margin-top: 0.4rem;
    margin-left: 2rem;
}

.follow1{
    margin-left: 5.3rem;
}

.follow2{
    margin-left: 4.3rem;
}

.follow3{
    margin-left: 2.4rem;
}

.marginBottom{
    margin-bottom: 1.3rem;
}

.terms{
    font-size: small;
    margin-bottom: 200px;
}